<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="iBatis.ConnectionString" value="0OJUPTN15E3FL54BA0N2FWX5BIX2RO2O5ZRCZAYLUFCSP0YTWBYZS0LJG4A0I1RGAHGCMWA2ZQEA3TTDQYJVRJEOV0ADBPQJZ0F4ELG4C2EZQ4NCYKURU2HBQXS3NJE00PRC10X0HUJCHP"/>
    <add key="TestSchema" value="CEENV100"/>
    <add key="TestDomain" value="QAINTEGRATION"/>
  </appSettings>
</configuration>