<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fileLoggerConfig" type="Sovos.SvcBus.Common.Model.Infrastructure.Logging.FileLoggerConfig, TemplateServiceDispatcher"/>
  </configSections>
  <appSettings>
    <add key="iBatis.ConnectionString" value="0OJUPTN15E3FL54BA0N2FWX5BIX2RO2O5ZRCZAYLUFCSP0YTWBYZS0LJG4A0I1RGAHGCMWA2ZQEA3TTDQYJVRJEOV0ADBPQJZ0F4ELG4C2EZQ4NCYKURU2HBQXS3NJE00PRC10X0HUJCHP"/>
    <!--"Data Source=P11D;User Id=FV2;Password=Polonio210;Statement Cache Size=10"-->
    <add key="iBatis.Config" value="config\sqlMap.config"/>
    <add key="MongoDB.ConnectionString" value="ZASPK0BCUCW0ZQS1A40V033EW4LCZKX51QIXJTS4KQKMKE3RBUGQVX2ITZBARVJZ12SZTXSOIJEJ2P"/>
    <!--ZASPK0BCUCW0ZQS1A40V033EW4LCZKX51QIXJTS4KQKMKE3RBUGQVX2ITZBARVJZ12SZTXSOIJEJ2P
    mongodb://localhost:27017/testdb-->
    <add key="ServiceName" value="templatesvc"/>
    <add key="QueueMode" value="Volatile"/>
    <add key="DispatchMode" value="Single"/>
    <add key="MinThreads" value="2"/>
    <add key="MaxThreads" value="2"/>
    <add key="ThreadCount" value="5"/>
    
    <add key="MyParameter" value="5" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <fileLoggerConfig targetFile="c:\logs\template-service.log" logLevel="Info" maxLogFiles="5" />
</configuration>
