<?xml version="1.0" encoding="utf-8" ?>

<sqlMap namespace="SecurityAnswerMap"
				xmlns="http://ibatis.apache.org/mapping"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <resultMaps>
    
    <resultMap id="SecurityAnswerResult" class="SecurityAnswer">
      <constructor>
        <argument argumentName="username" column="USRNAME"/>
        <argument argumentName="questionId" column="IDQUESTION"/>
        <argument argumentName="answer" column="ANSWER"/>
      </constructor>
    </resultMap>
   
  </resultMaps>

  <statements>

    <select id="FindSecurityAnswer" resultMap="SecurityAnswerResult" parameterMap="SecurityAnswerParameterMap">
      SELECT USRNAME, IDQUESTION, ANSWER
      FROM $Schema$.CNVANSWER
      WHERE USRNAME = :username AND IDQUESTION = :questionId
    </select>

    <update id="UpdateSecurityAnswer" parameterMap="SaveSecurityAnswerParameterMap">
      UPDATE $Schema$.CNVANSWER
      SET ANSWER = :answer
      WHERE USRNAME = :username AND IDQUESTION = :questionId
    </update>

    <insert id="AddSecurityAnswer" parameterMap="SaveSecurityAnswerParameterMap">
      INSERT INTO $Schema$.CNVANSWER (ANSWER, USRNAME, IDQUESTION, TYPEALG)
      VALUES (:answer, :username, :questionId, '5')
    </insert>

    <delete id="DeleteSecurityAnswer" parameterMap="SecurityAnswerParameterMap">
      DELETE FROM $Schema$.CNVANSWER
      WHERE USRNAME = :username AND IDQUESTION = :questionId
    </delete>

  </statements>

  <parameterMaps>
    
    <parameterMap id="SecurityAnswerParameterMap" class="SecurityAnswer">
      <parameter property="Username"/>
      <parameter property="QuestionId"/>
    </parameterMap>

    <parameterMap id="SaveSecurityAnswerParameterMap" class="SecurityAnswer">
      <parameter property="Answer"/>
      <parameter property="Username"/>
      <parameter property="QuestionId"/>
    </parameterMap>

  </parameterMaps>

</sqlMap>