<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
							xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <properties resource="config/properties.config"/>

    <settings>
        <setting useStatementNamespaces="false"/>
        <setting cacheModelsEnabled="false"/>
        <setting validateSqlMap="false"/>
    </settings>

    <providers resource="${directory}/providers.config"/>

    <database>
        <provider	name="oracle11.2g"/>
        <dataSource name="POC" connectionString="${connectionString}"/>
    </database>

    <sqlMaps>
      <sqlMap	resource="${directory}/Alias.config"/>
      <sqlMap	resource="${directory}/SecurityAnswer.config"/>
    </sqlMaps>

</sqlMapConfig>
