<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoDB.ConnectionString" value="ZASPK0BCUCW0ZQS1A40V033EW4LCZKX51QIXJTS4KQKMKE3RBUGQVX2ITZBARVJZ12SZTXSOIJEJ2P"/>
    <add key="ServiceName" value="<%= namespace %>svc"/>
    <add key="QueueMode" value="Volatile"/>
    <add key="MinThreads" value="2"/>
    <add key="MaxThreads" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
